img
img_reoriented
input
registered_input
input-test

rs_data

env

output
out-features

all_subjects.nii.gz
corrupted_files.txt
dHCP_groupICA_masked.npy

mask.nii.gz
mask1.nii.gz
mask_preprocessed.nii.gz

metadata/ica_masks
metadata/mask_IC.nii.gz

__pycache__

.temp-registration-processing